/**********Splash Screen Modifiers**********/
.Welcome-Screen {
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
}

.Splash-Screen {
  border-style: groove;
  border-width: 15px;
  border-color: #072227;
  height: 930px;
  width: 100%;
  margin: 0 auto 0 auto;
  background-color: #393E46;
}

.JakeagleLogo {
  width: 1000px;
  position: relative;
  left: 427px;
  bottom: 50px;
}

.left-portrait {
  width: 400px;
  height: 450px;
  background-color: #072227;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.JadeImg {
  width: 350px;
  position: absolute;
  left: 25px;
  top: 20px;
}

.right-portrait {
  width: 400px;
  height: 450px;
  background-color: #072227;
  position: absolute;
  bottom: 100px;
  right: 90px;
}

.HavockImg {
  width: 340px;
  position: absolute;
  left: 30px;
  top: 15px;
}

.Splash-Screen-Rule {
  position: relative;
  top: 50px;
}

/**********Who are we Modifiers**********/
.Who-are-we-container {
  height: 930px;
  width: 100%;
  position: absolute;
  top: 1150px;
}

.Who-are-we {
  text-align: center;
  position: relative;
  top: 50px;
}

.Programmer-logo {
  width: 500px;
  position: relative;
  left: 695px;
}

.Who-are-we-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 800px;
  line-height: 2;
  position: relative;
  left: 550px;
}

.Who-are-we-rule {
  position: relative;
  top: 1150px;
}

/**********Tools of the trade modifiers**********/
.Tools-of-the-trade {
  width: 100%;
  height: 930px;
  position: relative;
  top: 1175px;
}

.Tools-of-the-trade-title {
  text-align: center;
  position: relative;
  top: 100px;
}

.Unity-Logo {
  height: 25%;
  float: left;
  margin-right: 25px;
}

.Visual-Studio {
  height: 200px;
  float: right;
}

.Cakewalk {
  height: 15%;
  position: relative;
  left: 525px;
  margin-bottom: 25px;
}

.Programming-tools {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  height: 950px;
  width: 90%;
  position: relative;
  top: 100px;
  left: 100px;
}

.IDE-H3 {
  text-align: right;
}

.Our-IDE {
  text-align: right;
}

.MusicMachine {
  text-align: center;
}

.Music {
  text-align: center;
}

.Tools-divider {
  position: relative;
  top: 1600px;
}

/***********Our Projects Modifiers**********/
.Our-Projects {
  width: 100%;
  height: 400px;
  position: relative;
  top: 1700px;
}

.Our-Projects-Title {
  text-align: center;
  position: relative;
  top: 50px;
}

.Projects-Paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 800px;
  line-height: 2;
  position: relative;
  left: 525px;
  top: 50px;
}

.Projects-rule {
  position: relative;
  top: 1850px;
}

/**********MIGU Modifiers**********/
.MIGU {
  width: 100%;
  height: 1700px;
  position: relative;
  top: 1910px;
}

.MIGU-title {
  text-align: center;
  position: relative;
  top: 50px;
}

.MIGU-Paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 800px;
  line-height: 2;
  position: relative;
  left: 525px;
  top: 50px;
}

.PV-image-1 {
  background-color: #04009A;
  height: 600px;
  width: 600px;
  position: relative;
  top: 120px;
  left: 15px;
}

.PV-image-2 {
  background-color: #04009A;
  height: 600px;
  width: 600px;
  position: relative;
  bottom: 480px;
  left: 640px;
}

.PV-image-3 {
  background-color: #04009A;
  height: 600px;
  width: 600px;
  position: relative;
  bottom: 1080px;
  left: 1265px;
}

.Jade-Portrait {
  height: 90%;
  position: relative;
  top: 30px;
  left: 70px;
}

.Jade-Head {
  height: 90%;
  position: relative;
  top: 30px;
  left: 50px;
}

.Jade-Pose {
  height: 90%;
  position: relative;
  top: 30px;
  left: 60px;
}

.News {
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom: 1000px;
  color: #04009A;
}

.News-Paragraph {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 800px;
  line-height: 2;
  position: relative;
  bottom: 1000px;
  left: 540px;
}

.MIGU-rule {
  position: relative;
  top: 2000px;
}

/**********Android Modifiers**********/
.Android {
  width: 100%;
  height: 1500px;
  position: relative;
  top: 2100px;
}

.Android-title {
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 75px;
}

.Android-Paragraph {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 800px;
  line-height: 2;
  position: relative;
  top: 125px;
  left: 540px;
}

.Android-Paragraph2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 800px;
  line-height: 2;
  position: relative;
  top: 125px;
  left: 540px;
}

.Grav-Ball-Clip {
  height: 400px;
  width: 500px;
  position: relative;
  top: 180px;
  left: 25px;
  background-color: #04009A;

  border-style: groove;
  border-width: 15px;
  border-color: #393E46;
}

.Sniper-Ball-Clip{
  height: 400px;
  width: 500px;
  position: relative;
  bottom: 250px;
  left: 675px;
  background-color: #04009A;

  border-style: groove;
  border-width: 15px;
  border-color: #393E46;
}

.Tiny-Ball-Clip{
  height: 400px;
  width: 500px;
  position: relative;
  bottom: 680px;
  left: 1325px;
  background-color: #04009A;

  border-style: groove;
  border-width: 15px;
  border-color: #393E46;


}

.Clips {
  position: relative;
  top: 75px;
  left: 25px;
}

.Android-news{
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom: 575px;
  color: #04009A;
}
.Android-news-paragraph{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 800px;
  line-height: 2;
  position: relative;
  bottom: 550px;
  left: 535px;
}

.Android-rule{
  position: relative;
  top: 2125px;
}
/**********Social Media Modifiers**********/

.Social-Media{
  width: 100%;
  height: 1500px;
  position: relative;
  top: 2200px;
}

.Social-media-title {
  font-size: 75px;
  text-align: center;
  position: relative;
  top: 100px;
}

.Instagram {
  height: 25%;
  float: left;
  margin-right: 25px;
}

.Facebook {
  height: 30%;
  float: right;
  margin-left: 10px;
}

.Youtube {
  float: left;
  height: 25%;
  margin-right: 25px;
}

.Our-Platforms {
  font-family: 'Montserrat', sans-serif;
  height: 950px;
  width: 90%;
  position: relative;
  top: 100px;
  left: 100px;
}

.FB-title {
  text-align: right;
}

.FBP {
  text-align: right;
}

.YT-title {
  text-align: left;
}

.Music {
  text-align: center;
}


.Social-Media-rule{
  position: relative;
  top: 1800px;
}

/**********Contact Us Modifiers*********/

.Contact-Us{
  width: 100%;
  height: 560px;
  position: relative;
  top: 2150px;
  background-color: #393E46;
}

.Contact-us-title{
  color: white;
  text-align: center;
  position: relative;
  top: 50px;
}

.contact-us-paragraph{
  text-align: center;
  position: relative;
  top: 50px;
  color: #EEEEEE;
}

.Contact-us-links{
  height: 30%;
  width: 90%;
  background-color: #04009A;
  position: relative;
  top: 50px;
  margin: auto;
}

.YT-link{
  position: relative;
  top: 45px;
  left: 150px;
}

.FB-link{
  position: relative;
  top: 45px;
  left: 575px;
}

.IG-link{
  position: relative;
  top: 45px;
  left: 1000px;
}

.btn {
  background: #4FBDBA;
  background-image: -webkit-linear-gradient(top, #4FBDBA, #072227);
  background-image: -moz-linear-gradient(top, #4FBDBA, #072227);
  background-image: -ms-linear-gradient(top, #4FBDBA, #072227);
  background-image: -o-linear-gradient(top, #4FBDBA, #072227);
  background-image: linear-gradient(to bottom, #4FBDBA, #072227);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  position: relative;
  top: 200px;
  left: 175px;
}

.btn:hover {
  background: #072227;
  background-image: -webkit-linear-gradient(top, #072227, #4FBDBA);
  background-image: -moz-linear-gradient(top, #072227, #4FBDBA);
  background-image: -ms-linear-gradient(top, #072227, #4FBDBA);
  background-image: -o-linear-gradient(top, #072227, #4FBDBA);
  background-image: linear-gradient(to bottom, #072227, #4FBDBA);
  text-decoration: none;
}

/**********Element Modifiers**********/
hr{
  border-style: dotted none none;
  height: 0px;
  width: 10%;
  border-color: #393E46;
  border-width: 15px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 75px;
  color: #04009A;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #04009A;
}
ol{
  text-align: right;
  font-size: 20px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

a{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-decoration: none;

}

a:hover{
  background-color: #4FBDBA;
  text-decoration: underline;
}
